

section {
    min-height: 100vh;
}

.hero-video-container {
    width: 8rem;
    height: 6rem;
    border: 2px solid blueviolet;
}

.video-final-container {
    width: 6rem;
    height: 9rem;
    border: 2px solid blueviolet;
}

.hero-video {
    width: 100%;
    height: 100%;
    background-color: red;
}

.text {
    font-size: 3rem;
}